<div class="jumbotron jumbotron-home">
 <div class="container">
   <h1>Welcome to my website!</h1>
   <p>Test</p>
   <%= link_to "Learn more >>","#", class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-md-4">
  <h2>Heading<h2>
  <p>Testing1</p>
  <p><%= link_to "View details","#",class: "btn btn-secondary" %></p>
  </div>
  <div class="col-md-4">
  <h2>Heading</h2>
  <p>Testing2</p>
  <p><%= link_to "View details","#",class: "btn btn-secondary" %></p>
  </div>
  <div class="col-md-4">
  <h2>Heading</h2>
  <p>Testing3</p>
  <p><%= link_to "View details","#",class: "btn btn-secondary" %></p>
  </div>
  </div>
  </div>
